$bg-color: #302e2e;
$bg-color-elementy: rgb(235, 231, 215);
$color-font: white;

.porady-kontener {
    background-color: $bg-color;
    padding-top: 100px;
    color: $color-font;
    animation: opacity 1s ease-in;
  //  margin-left: auto;
  //  margin-right: auto;
   // width: 90%;
}

@keyframes opacity{
    from{opacity: 0;}
    to {opacity: 1;}
 }

 #header {
    display: flex;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    letter-spacing: 4px;
    justify-content: center;
    margin-bottom: 32px;
    transition: font-size .5s; 


    & div {
    color: red;
    transform: rotate(-21deg);
    padding-right: 15px;
    transition: transform .5s;
    }
}

.container-fluid{
    width: 60%;

    .row {
        justify-content: center;
        justify-content: space-around;
    }
}

.card {
    color:black;
    margin: 8px;
    height: auto;
}
