<div class="porady-kontener">
  <div id="header"><div>Nerd</div>porady:</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 card text-white ">
        <img src="/assets/img/20190428_132221.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Takie tam</h5>
          <p class="card-text">A co nie może tak być ??</p>
          <p class="card-text">Zaktualizowano kiedyś tam</p>
          <p>Też nie za bardzo mi się podoba. Chyba zrobie coś prostrzego bardziej nerdowego ;p</p>
        </div>
      </div>
      <div class="col-12 card">2</div>
      <div class="col-12 card">3</div>
      <div class="col-12 card">4</div>
      <div class="col-12 card">5</div>
      <div class="col-12 card">6</div>
      <div class="col-12 card">7</div>
      <div class="col-12 card">8</div>
      <div class="col-12 card">9</div>
    </div>
  </div>
  
  </div>