<div class="porady-kontener">
  <div id="header"><div>Nerdy</div>ratują świat</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 card">1</div>
      <div class="col-lg-3 card">2</div>
      <div class="col-lg-3 card">3</div>
      <div class="col-lg-3 card">4</div>
      <div class="col-lg-3 card">5</div>
      <div class="col-lg-3 card">6</div>
      <div class="col-lg-3 card">7</div>
      <div class="col-lg-3 card">8</div>
      <div class="col-lg-3 card">9</div>
    </div>
  </div>
  
  </div>