<nav class="myNav">
    <div class="contener">
       <div id="logo"><div>Nerdy </div>ratują świat</div>
       <div id="menu"><ul id="menuLista">
           <li class="itemList"><a routerLink='/' class="menuLink"><i class="fas fa-home"></i></a></li>
           <li class="itemList"><a routerLink='/Porady' class="menuLink">PORADY</a></li>
           <li class="itemList"><a href="" class="menuLink">ĆWICZENIA</a></li>
           <li class="itemList"><a href="" class="menuLink">DIETA</a></li>
           <li class="itemList"><a href="" class="menuLink">O NAS</a></li>
           <li class="itemList"><a href="" class="menuLink">KONTAKT</a></li>
       </ul></div> 
    </div>
</nav>